a {
    display: inline-block;
    text-decoration: none;
    color: #333;
    padding: 1%;
    margin: 2%;
}

a:hover {
    color: #fff;
    background-color: #333;
}


.dark-mode {
    background-color: #333;
    color: #fff;
}